.divbox1{
    width: 1400px;
    height: 100px;
    color:green;
    display: flex;
    justify-content: center;
    font-size: 25px;
    
}
.divbox2{
    width:1000px;
    color:seagreen;
    font-size: 25px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}
span:hover{
    color:yellow;
}
h2{
    height: 100px;
    color: red;
    display: flex;
    justify-content: center;
    font-size: 30px;
    align-items: center;
}
.img1{
    height: 500px;
    display: flex;
    margin: 0 auto;
}
.p1{
    width: 900px;
    color: green;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    font-size: 30px;
    text-indent: 2em;
    margin-top: 35px;
}
.divbox3{
    line-height: 200px;
    width: 1000px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    font-size: 40px;
}
.p2{
    width: 300px;
    color: blue;
    font-size: 25px;
    display: flex;
    
    justify-content: center;
    margin: 0 auto;
}
.divbox4{
    width: 100px;
    margin: 0 auto;
}
.img2{
    height: 100px;
    margin: 0 auto;
}