.container {
    position: relative;
    display: flex;
    width: 75%;
    padding: 2% 5%;
    box-sizing: border-box;
    height: 48vh;
    z-index: 0;
    float: left;
    margin-left: 15%;
  }

.h1{
    height: 4em;
    font-size: 20px;
    color: green;
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
}
.p1{
    color: green;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.p2{
    color: green;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p2:hover{
    color:yellow;
}

.box {
    flex: 1;
    overflow: hidden;
    transition: .5s;
    margin: 0 2%;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
    line-height: 0;
}
  
.box > img {
    width: 150%;
    height: calc(100% - 10vh);
    -o-object-fit: cover;
       object-fit: cover;
    transition: .5s;
}
  
.box > span {
    font-size: 3.8vh;
    display: block;
    text-align: center;
    height: 10vh;
    line-height: 2.6;
}
  
.box:hover {
    flex: 1 1 50%;
}
  
.box:hover > img {
    width: 100%;
    height: 50%;
}
.more{
    width: 100%;
    height: 4em;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color:green;
    font-size: 25px;
    margin: 0 auto;
}
.moreImg{
    height: 70px;
    width: 70px;
}