.div1{
    float: left;
    position: relative;
    width: 1131px;
    height: 790px;
    background-color: rgb(211, 243, 232);
    border: solid 3px black;
}

.div2{
    font-size: 3em;
    text-align: center;
    color: rgb(150, 108, 52);
}

.div3{
    position: relative;
    float: left;
    font-size: 23px;
}

.div4{
    float: left;
    position: relative;
    width: 110px;
    margin: 40px 0 0 60px;
}

.div5{
    width: 100%;
    margin: 15px 0 0 0;
}

.div6{
    float: left;
    position: relative;
    width: 850px;
    font-size: 22px;
}

.div7{
    position: relative;
    float: left;
    margin: 0 0 0 350px;
}

.anniu{
    float: left;
    position: relative;
    width: 80px;
    height: 33px;
    font-size: 22px;
    color: rgb(0, 0, 0);
    border: solid 1px rgb(5, 5, 5);
    margin-top: 20px;
}

.xian{
    height: 5px;
    border-bottom:solid 1px;
}

.clearfix{
    clear: both;
}
